name: "Build CN Version (macOS)"

on:
  workflow_dispatch:

env:
  APP_CARGO_TOML: apps/desktop/src-tauri/Cargo.toml

jobs:
  build-macos:
    runs-on: macos-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [aarch64-apple-darwin]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read version number
        uses: SebRollen/toml-action@v1.0.2
        id: read_version
        with:
          file: ${{ env.APP_CARGO_TOML }}
          field: "package.version"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./apps/desktop/src-tauri -> target"

      - name: Install dependencies
        run: pnpm install

      - name: Create .env file
        run: |
          echo "appVersion=${{ steps.read_version.outputs.value }}" >> .env
          echo "VITE_ENVIRONMENT=production" >> .env

      - name: Build app
        working-directory: apps/desktop
        run: |
          pnpm -w cap-setup
          pnpm tauri build --target ${{ matrix.target }}
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}

      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: Cap-CN-macOS-${{ matrix.target }}-${{ steps.read_version.outputs.value }}
          path: target/${{ matrix.target }}/release/bundle/dmg/*.dmg
          if-no-files-found: warn
